# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output


# Precompiled Headers


# Libraries


# Shared objects (inc. Windows DLLs)

# Executables


# Debug files


# Kernel Module Compile Results
.idea
Library
Logs
obj
/Temp
/Assets/Plugins/Sirenix
/Assets/Plugins/Sirenix.meta
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.csproj
